.service-hover-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
  transform: translate(-50%, -50%)  rotate(-15deg);
  pointer-events: none;
  transition: height 0.5s ease, width 0.5s ease;
  z-index: 10;
}

.service-card:hover .service-hover-img {
  height: 300px;
  width: 220px;
}
