/* .service-item:last-child {
    border-bottom: 1px solid var(--gray);
    
  }
  .Service-bg-icons::before {
    margin-bottom: 90px;
       -webkit-text-fill-color: transparent;
       -webkit-text-stroke: 1px;
       opacity: .6;
       content: "01 ";
   } */
   .active-img {
    opacity: 1;
    transition: opacity 0.1s ease-in, transform 0.2s ease-in-out;
    transform: scale(1.05);
  }




  .inner-section {
    position: relative;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent; 
    transition: all 0.5s ease-in-out;
   
    
}

.inner-section::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101%;
    height: 101%;
    border-radius: 50%;
    
    transition: --progress 3s ease-in-out;
    transition: --background 3s ease-in;

    background: conic-gradient(   var(--gray) var(--progress), transparent 0%);
    /* background: conic-gradient(
        var(--gray) ,
        var(--gray) var(--progress),
        transparent var(--progress),
        transparent 
    ); */
    mask: radial-gradient(
    
        transparent 67%,
        var(--gray) 68%
    );
    z-index: -1; 
    transform: translate(-50%, -50%)
}



/* Custom CSS for gradients */
.custom-gradient {
    background: linear-gradient(var(--black), var(--black)) padding-box,
                linear-gradient(45deg, var(--blue) 20%, var(--green) 80%) border-box;
    border: 1px solid transparent;
    border-radius: 24px;
    color: var(--whitelight);
    transition: background 0.9s ease, color 0.9s ease;
  }
  
  :hover.custom-gradient {
    background: linear-gradient(45deg, var(--blue) 20%, var(--green) 80%) padding-box,
                linear-gradient(45deg, var(--blue) 20%, var(--green) 80%) border-box;
    color: var(--whitelight);

    
  }





